/* Font styles */  

* {
    font-weight: normal; 
}

.montserrat-web-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: black;
}

* {
    font-family: Montserrat;
}

* {
    font-size: medium;
}

/* Search bar / types of properties bar */  

#searchbar-heading {
    padding: 1em;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 150px;
    color: black;
    background-color: white;
}

.container{
    position: sticky;
    top: 0px;
}

.searchbar {
    border: 1px solid black;
    border-style: none;
    border-width: 5px 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0.4, 0.4, 0.4, 0.4);
}

.icon-bar ul {
    list-style: none;
    text-align: center;
}
  
.icon-bar li {
    display: inline-block;
    margin-right: 40px; 
    text-align: center;
}

.icon-img { 
    display: block;
}

#swim {
    float: center;
    text-align: center;
}

/* Property examples */  

.property-example {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 150px;
}

.past-example {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 150px;
}

.picture {
    display: block;
    object-fit: cover;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.example-property {
    margin-left: 15px;
}

.host {
    color: grey;
}

.example-host {
    color: grey;
}

/* Footer bar */  

.footer-bar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 30px;
    background-color: hwb(0 92% 7%);
}

/* Future getaways subheading */  

#future-getaways {
    margin-left: 15px
}

/* Future getaways type bar */  

#getaways-bar ul {
    list-style: none;
    font-weight:600;
}

 #getaways-bar li {
    display: inline-block;
    margin-right: 20px; 
    text-align: center;
}

/* Column list of locations */  

#column-locations {
    column-count: 2;
    list-style-type: none;
    margin-top: 15px;
    padding-top: 1em;
}

#column-locations li {
    margin-bottom: 15px;
}

/*Support footer subheading / list */  

#support-list ul {
    list-style: none;
}

#support-list li {
    margin-bottom: 15px;
}

#support-list {
    list-style-type: none;
}

/* Hosting footer subheading / list */  


#hosting-list ul {
    list-style: none;
}

#hosting-list {
    list-style-type: none;
}

#hosting-list li {
    margin-bottom: 15px;
}

/* Airbnb footer subheading / list */  

#airbnb-list ul {
    list-style: none;
}

#airbnb-list li {
    margin-bottom: 15px;
}

#airbnb-list {
    list-style-type: none;
}

/* Language and currency selector */  

#lang-currency ul {
    list-style: none;
    font-weight:500;
}

#lang-currency li {
    display: inline-block;
    margin-right: 20px; 
    text-align: center;
}

.lang-img {
    text-align: right;
}

/* privacy and legal list */  

#privacy-list {
    list-style-type: none;
}

#privacy-list li {
    margin-bottom: 15px;
}

/* footer search bar */  

.searchbar-foot{
    position: sticky;
    bottom: 0px;
}

.searchbar-foot { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 150px;
    color: black;
    background-color: white;
    text-align: center;
}

.footer-img {
    display: block;
}

.search-footer ul {
    list-style: none;
    text-align: center;
}
  
.search-footer li {
    display: inline-block;
    margin-right: 40px; 
    text-align: center;
}